    <!-- Footer -->
    <footer class="footer">
        <div class="container">
          <div class="row text-center">
            <!-- Brand Section -->
            <div class="col-12">
              <div class="brand h5">ProgressMitra</div>
            </div>
            <!-- Social Media Icons -->
            <div class="col-12 ">
              <div class="footer-social">
                <a href="https://www.instagram.com/sahil_prajapati_1706/profilecard/?igsh=MWVwc2FpMWppYWJvbQ==" target="_blank"><i title="Instagram" class="fa-brands fa-instagram mx-2"></i></a>
                <a href="https://www.linkedin.com/in/sahil-prajapati-034882253?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i title="LinkedIn" class="fa-brands fa-linkedin mx-2"></i></a>
                <a href="https://github.com/sahilprajapti1706" target="_blank"><i title="GitHub" class="fa-brands fa-github mx-2"></i></a>
              </div>
            </div>
            <!-- Footer Links -->
            <div class="col-12">
              <div class="footer-link">
                <a href="privacypolicy" class="mx-2">Privacy Policy</a>
                <a href="/terms&condition" class="mx-2">Terms & Conditions</a>
              </div>
            </div>
          </div>
        </div>
      </footer>