<% layout("./layouts/boilerplate.ejs") %>

<div class="row">
    <div class="col-10 col-md-6 offset-md-4 box-effect px-4  py-3 mx-auto">
        <h2 class="text-center">All Notes</h2>
        <% for(note  of notes) {%>
            <div class="px-md-4">
                <div class="row px-md-4" >
                    <div class="col-10">
                        <h3 class="me-auto"> <%= note.title %> </h3>  
                        <% const time = (String(note.date).split(' ')).slice(0,5).join(' ') %>
                        <i> <%= time %> </i>
                        <p class="fs-6"> <%= note.content%> </p>
                    </div>
                    <div class="col-2 pt-2">
                        <form action="/viewNotes/<%= note.id %>?_method=DELETE" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-link text-danger fs-4" title="Delete">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                    </div>
                    
                </div>
                <hr>
            </div>
        <% } %>
    </div>
</div>
