<% layout("./layouts/boilerplate.ejs") %>

<div class="row">
    <div class="col-10 col-md-4 offset-md-4 box-effect px-4 py-3 mx-auto">
        <form action="/login" method="post" novalidate class="needs-validation">
            <h2 class="text-center">Login</h2>
            <div class="my-2">
                <label for="username" class="form-label">Username</label>
                <input 
                    type="text" 
                    class="form-control"
                    name="username"
                    id="username"
                    required />
            </div>

            <div class="my-2">
                <label for="password" class="form-label">Password</label>
                <input 
                    type="password" 
                    class="form-control"
                    name="password"
                    id="password"
                    required />
            </div>
            <p>New user ? Create an account <a href="/signup">SignUp</a></p>
            <div class="d-flex justify-content-center align-items-center">
                <button class="btn btn-success">Login</button>
            </div>
        </form>
    </div>
</div>
